* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root {
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: #1d1a27;
    color: aliceblue;
}

h1 a {
    color: #fff;
    text-decoration: none;
}

h1 a sup {
    font-size: 1rem;
}

#addedFiles {
    margin: 10px;
    flex-direction: column;
    color: azure;
}

#main {
    display: flex;
    flex-direction: column;
    max-width: 250px;
    gap: 10px;
    border: 1px solid azure;
    padding: 10px;
    border-radius: 8px;
}

input[type='file'] {
    visibility: hidden;
}

#insert-file {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    background-color: #323232;
    border: 2px dashed black;
    border-radius: 8px;
    cursor: pointer;
}

.removeDuplicateRadio {
    text-wrap: wrap;
}

.removeDuplicateRadio:hover {
    cursor: pointer;
}

button {
    height: 30px;
}

button:hover {
    cursor: pointer;
}

@media screen and (max-width: 800px) {
    #root {
        padding: 20px;
    }

    #main {
        width: 80%;
        max-width: 80%;
    }

    #duplicateContainer {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}